{
	/**
	* 应用名称
	*/
	"applicationName": "Untiled App",
	/**
	* 工程类型，可用类型：rigger, serice, plugin
	*/
	"projectType": "rigger",
	/**
	* 发布服务时，服务源码所在根目录
	*/
	"srcRoot": "./src",

	"libPathes":[],

	/**
	* 输出目录根路径
	*/
	"outRoot": "./dist",
	/**
	* 构建项目时，服务执行文件的目标位置
	*/
	"binRoot": "./bin",

	/**
	* 构建项目时，配置的构建目录
	*/
	"configBuildRoot": "",

	// 自定义服务的根路径
	"customServicesRoot":[],

	
	/**
	* 应用需要启动的服务
	*/
	"services": [
		[]
	],

	// 应用依赖的包
	"packages":[

	],
	
	/*依赖的库
	*/
	"deps": []
}